* {
    box-sizing: border-box;
  }
  .img-cards {
    display: flex;
    list-style-type: none;
  }
  
  .img-card {
    opacity: 0.3;
  }
  
  .valid {
    border-color: #5eb95e;
  }
  #validation-button {
    background-color: rgb(141, 245, 141);
    border: none;
    height: 25px;
    border-radius: 5px;
  }
  #input {
    border-width: 1px;
  }
  
  .invalid {
    border-color: #f81111;
  }